<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tournoi - Badaoui Adam{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
</head>
<body style="display:flex;flex-direction:column;height:100vh">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('app_equipe_index') }}">Equipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_joueur_index') }}">Joueurs</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_tournoi_index') }}">Tournois</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_game_index') }}">Matchs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register">Ajouter utilisateur</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="/{{ app.user ? 'logout' : 'login' }}">
                        {{ app.user ? 'Logout' : 'Login' }}
                    </a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="http://localhost:5173/">Consulter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="container my-5">
    {% block body %}{% endblock %}
</div>

<footer class="bg-dark text-white py-3 mt-auto">
    <div class="container text-center">
        <p>&copy; {{ "now"|date("Y") }} Blessy77</p>
    </div>
</footer>

</body>
</html>
