{% extends 'base.html.twig' %}

{% block title %}Edit Joueur{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Edit Joueur</h1>

        {{ include('joueur/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-secondary" href="{{ path('app_joueur_index') }}">Back to list</a>

        {{ include('joueur/_delete_form.html.twig') }}
    </div>
{% endblock %}
