{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h2>Joueurs</h2>
                <div class="btn-group">
                    <a href="{{ path('app_joueur_new') }}" class="btn add btn-primary add-new"><i class="material-icons">add</i> Add New</a>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date_naissance</th>
                    <th>Nationalite</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for joueur in joueurs %}
                    <tr>
                        <td>{{ joueur.id }}</td>
                        <td>{{ joueur.nom }}</td>
                        <td>{{ joueur.prenom }}</td>
                        <td>{{ joueur.dateNaissance ? joueur.dateNaissance.format('d/m/Y') : '' }}</td>
                        <td>{{ joueur.nationalite }}</td>
                        <td class="actions">
                            <a href="{{ path('app_joueur_edit', { 'id': joueur.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">edit</i></a>
                            <a href="{{ path('app_joueur_show', { 'id': joueur.id}) }}" class="view"><i class="material-icons" data-toggle="tooltip" title="View">visibility</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/scripts.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}
{% endblock %}
