{% extends 'base.html.twig' %}

{% block title %}New Joueur{% endblock %}

{% block body %}
    <div class="container my-5">
        <h2 class="form-title">Create new Joueur</h2>

        {{ include('joueur/_form.html.twig') }}

        <a class="btn btn-secondary" href="{{ path('app_joueur_index') }}">Back to list</a>
    </div>
{% endblock %}
