{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4">Joueur</h1>

                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ joueur.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ joueur.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ joueur.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ joueur.dateNaissance ? joueur.dateNaissance.format('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Nationalité</th>
                        <td>{{ joueur.nationalite }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="mt-4">
                    <a href="{{ path('app_joueur_index') }}" class="btn btn-primary mr-2">Retour à la liste</a>
                    <a href="{{ path('app_joueur_edit', {'id': joueur.id}) }}" class="btn btn-success mr-2">Modifier</a>
                    {{ include('joueur/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
