{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h1>Tournoi</h1>
                <div class="btn-group">
                    <a href="{{ path('app_tournoi_new') }}" class="btn add btn-primary add-new"><i class="material-icons">add</i></a>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Date_debut</th>
                    <th>Date_fin</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tournoi in tournois %}
                    <tr>
                        <td>{{ tournoi.id }}</td>
                        <td>{{ tournoi.nom }}</td>
                        <td>{{ tournoi.dateDebut ? tournoi.dateDebut.format('d/m/Y') : '' }}</td>
                        <td>{{ tournoi.dateFin ? tournoi.dateFin.format('d/m/Y') : '' }}</td>
                        <td class="actions">
                            <a href="{{ path('app_tournoi_edit', { 'id': tournoi.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">edit</i></a>
                            <a href="{{ path('app_tournoi_show', { 'id': tournoi.id}) }}" class="view"><i class="material-icons" data-toggle="tooltip" title="View">visibility</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/scripts.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}
{% endblock %}
