{% extends 'base.html.twig' %}

{% block title %}New Tournoi{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ block('title') }}</div>
                <div class="card-body">
                    {{ include('tournoi/_form.html.twig') }}
                </div>
            </div>
            <a href="{{ path('app_tournoi_index') }}" class="btn btn-secondary my-3"><i class="material-icons align-middle mr-2">arrow_back</i>Back to list</a>
        </div>
    </div>
{% endblock %}
