{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block body %}
    <div class="card my-5">
        <h2 class="card-header">Tournoi</h2>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ tournoi.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ tournoi.nom }}</td>
                </tr>
                <tr>
                    <th scope="row">Date de début</th>
                    <td>{{ tournoi.dateDebut ? tournoi.dateDebut|date('d/m/Y') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">Date de fin</th>
                    <td>{{ tournoi.dateFin ? tournoi.dateFin|date('d/m/Y') : '' }}</td>
                </tr>
                </tbody>
            </table>
            <a href="{{ path('app_tournoi_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_tournoi_edit', {'id': tournoi.id}) }}" class="btn btn-primary">Modifier</a>
            {{ include('tournoi/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
