
{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h1>Equipe</h1>
                <div class="btn-group">
                    <a href="{{ path('app_equipe_new') }}" class="btn add btn-primary add-new"><i class="material-icons">add</i></a>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for equipe in equipes %}
                    <tr>
                        <td>{{ equipe.id }}</td>
                        <td>{{ equipe.nom }}</td>
                        <td class="actions">
                            <a href="{{ path('app_equipe_edit', { 'id': equipe.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">edit</i></a>
                            <a href="{{ path('app_equipe_show', { 'id': equipe.id}) }}" class="view"><i class="material-icons" data-toggle="tooltip" title="View">visibility</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/scripts.js') }}" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}
{% endblock %}
