{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <div class="container">

        <div class="card">
            <div class="card-body text-center">
                {% if equipe.imageName is not null %}
                    <img src="{{ asset('images/equipe/' ~ equipe.imageName) }}" alt="{{ equipe.nom }} Logo" class="img-fluid rounded mb-3 equipe-image" style="width: 258px; height: auto;">
                {% else %}
                    <img src="{{ asset('img/logo.png') }}" alt="Logo par défaut" class="img-fluid rounded mb-3 equipe-image" style="height: 258px; width: auto;">
                {% endif %}

                <h4 class="card-title">{{ equipe.nom }}</h4>

                <p>ID: {{ equipe.id }}</p>
                
            </div>
            <div class="card-footer text-center">
                <a href="{{ path('app_equipe_index') }}" class="btn btn-secondary">Retour à la liste</a>
                <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}" class="btn btn-primary">Modifier</a>
                {{ include('equipe/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
