<template>
  <div v-if="estCharge" class="container d-flex align-items-center justify-content-center">
    <div v-if="equipeChoisi" class="card">
      <div class="card-body text-center">
        <img :src="'http://127.0.0.1:8000/images/equipe/' + equipeChoisi.imageName" alt="" class="img-fluid rounded mb-3 equipe-image" >
        <h4 class="card-title">{{ equipeChoisi.nom }}</h4>
        <p>ID: {{ equipeChoisi.id }}</p>
      </div>
      <div class="card-footer text-center">
        <router-link class="btn btn-primary" :to="{ name: 'equipes' }">Retour à la liste</router-link>
      </div>
    </div>
    <div v-else class="card text-center">
      <div class="card-body">
        <p class="card-text font-size-large">Aucune équipe trouvée.</p>
      </div>
      <div class="card-footer text-center">
        <router-link class="btn btn-primary btn-lg" :to="{ name: 'equipes' }">Retour à la liste</router-link>
      </div>
    </div>
  </div>
  <div v-else class="container my-5">
    <p class="text-center">Chargement en cours...</p>
  </div>
</template>

<script setup>
import { useDefaultStore } from '../stores/index'
import { useRoute } from 'vue-router'
import { computed, ref, onMounted } from 'vue'
import Axios from 'axios'


let route = useRoute();
const nomEquipe = route.params.nom
const store = useDefaultStore()
const equipes = ref([])
const estCharge = ref(false);
const formatDate = (date) => {
  return new Date(date).toLocaleDateString("fr-FR");
};
onMounted(() => {
 

 Axios.get('http://localhost:8000/api/equipes.json')
   .then(response => {
     const donnee = response.data
     equipes.value = donnee
     estCharge.value = true

   })
   .catch(e => {
     console.log(e)
   })
})

const equipeChoisi = computed(() => {
  return equipes.value.find(equipe => equipe.nom === nomEquipe)
})
</script>

<style scoped>
.card, .card-footer{
  border: none;
  background: none;
}
.equipe-image {
  width: auto;
  max-width: 100%;
  height: 200px;
}

.font-size-large {
  font-size: 20px;
}




.btn-lg {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}
</style>
