<template>
  <div v-if="estCharge" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Tournois</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="equipe in equipes" :key="equipe.id">
          <td>{{ equipe.id }}</td>
          <td>
            <router-link :to="{ name: 'equipe', params: { nom: equipe.nom } }" class="text-dark">
              {{ equipe.nom }}
            </router-link>
       

          </td>
          <td>
             <ul class="list-unstyled">
              <li v-for="tournoi in getTournoi(equipe.tournoi)" :key="tournoi.id" class="mb-1">
                <router-link :to="{ name: 'tournoi', params: { id: tournoi.id } }" class="text-dark">
                  {{ tournoi.nom }}
                </router-link>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else class="container my-5">
    <p class="text-center">Chargement en cours...</p>
  </div>
</template>

<script setup>
import { useDefaultStore } from '../stores/index'

import { ref, onMounted } from 'vue'
import Axios from 'axios'
const store = useDefaultStore()


const equipes = ref([])
const tournois = ref([])
const estCharge = ref(false);
onMounted(() => {
 

  Axios.get('http://localhost:8000/api/equipes.json')
    .then(response => {
      const donnee = response.data
      equipes.value = donnee
      estCharge.value = true

    })
    .catch(e => {
      console.log(e)
    })
    Axios.get('http://localhost:8000/api/tournois.json')
    .then(response => {
      const donnee = response.data
      tournois.value = donnee
      estCharge.value = true

    })
    .catch(e => {
      console.log(e)
    })
})
function getTournoi(param) {
  //console.log(param)
 let idsTournois =  param.map(str => parseInt(str.match(/\d+/)[0], 10))
 //console.log(idsTournois)

 let result = []
 idsTournois.forEach(index => {
    result.push(tournois.value.find(tournoi=>tournoi.id == index ))
 });
 //console.log(result)
 return result

}
</script>

<style scoped>
.text-dark {
  
  text-decoration: none;
}

.text-dark:hover {
  text-decoration: underline;
}
</style>
