
<template>
  <div v-if="estCharge" class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <h2>Matches</h2>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Equipe Domicile</th>
            <th>Score Domicile</th>
            <th>Score Visiteur</th>
            <th>Equipe Visiteur</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="game in games" :key="game.id" class="clickable">
            <td @click="voirMatch(game.id)">{{ game.id }}</td>
            <td>
              <router-link :to="{ name: 'equipe', params: { nom: getEquipe(game.equipeDomicile)} }">
                {{ getEquipe(game.equipeDomicile)}}
              </router-link>
            </td>
            <td>{{ game.scoreDomicile }}</td>
            <td>{{ game.scoreVisiteur }}</td>
            <td>
              <router-link :to="{ name: 'equipe', params: { nom: getEquipe(game.equipeVisiteur)} }">
                {{ getEquipe(game.equipeVisiteur) }}
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div v-else class="container my-5">
    <p class="text-center">Chargement en cours...</p>
  </div>

 
  
</template>

<script setup>
import { useDefaultStore } from '../stores/index'
import { useRouter } from 'vue-router';
import { ref, onMounted } from 'vue'
import Axios from 'axios'

const store = useDefaultStore()
const router = useRouter()
const games = ref([])
const equipes = ref([])
const estCharge = ref(false);
onMounted(() => {
 

 Axios.get('http://localhost:8000/api/games.json')
   .then(response => {
     const donnee = response.data
     games.value = donnee
     estCharge.value = true

   })
   .catch(e => {
     console.log('prob axios')
   })
   Axios.get('http://localhost:8000/api/equipes.json')
   .then(response => {
     const donnee = response.data
     equipes.value = donnee
     estCharge.value = true

   })
   .catch(e => {
     console.log('prob axios')
   })
 
})

const formatDate = (date) => {
  return new Date(date).toLocaleDateString("fr-FR");
};

function getEquipe(param) {
  let id = parseInt(param.match(/\d+/)[0], 10)
  return equipes.value.find(equipe => equipe.id === id).nom;
}

function voirMatch(id) {
  console.log("T'as cliqué sur le match " + id)
  router.push({ name: 'game', params: { id: id } })
}

</script>

<style scoped>
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

.clickable {
  cursor: pointer;
}
</style>
