<template>
  <div v-if="estCharge && gameChoisi!= null" class="container my-5">
    <div class="card mx-auto">
      <div class="card-header">
        <h1 class="text-center">{{ tournoiChoisi(gameChoisi.tournoi) }}</h1>
      </div>
      <div class="card-body">
        <div v-if="gameChoisi" class="row">
          <div class="col-md-5 text-center align-items-center d-flex flex-column">
            <router-link :to="{ name: 'equipe', params: { nom: equipeChoisi(gameChoisi.equipeDomicile).nom } }">
            <img
                v-if="gameChoisi.equipeDomicile"
                :src="'http://127.0.0.1:8000/images/equipe/' + equipeChoisi(gameChoisi.equipeDomicile).imageName"
                :alt="equipeChoisi(gameChoisi.equipeDomicile).nom + ' Logo'"
                class="img-fluid rounded game-image"
            />
          </router-link>
            <router-link :to="{ name: 'equipe', params: { nom: equipeChoisi(gameChoisi.equipeDomicile).nom } }" class="btn btn-outline-dark my-2" v-if="gameChoisi.equipeDomicile">
              {{ equipeChoisi(gameChoisi.equipeDomicile).nom }}
            </router-link>
            <ul class="list-group list-group-flush flex-grow-1">
              <li v-for="buteur in buteursDomicile" :key="buteur.id" class="list-group-item">
                {{ buteur.prenom }} {{ buteur.nom }} {{ random(25, 93) }}'
              </li>
            </ul>
          </div>
          <div class="col-md-2 text-center my-auto">
            <h2>{{ gameChoisi.scoreDomicile }} - {{ gameChoisi.scoreVisiteur }}</h2>
          </div>
          <div class="col-md-5 text-center align-items-center d-flex flex-column">
            <router-link :to="{ name: 'equipe', params: { nom: equipeChoisi(gameChoisi.equipeVisiteur).nom } }">
              <img
                v-if="gameChoisi.equipeVisiteur"
                :src="'http://127.0.0.1:8000/images/equipe/' + equipeChoisi(gameChoisi.equipeVisiteur).imageName"
                :alt="equipeChoisi(gameChoisi.equipeVisiteur).nom + ' Logo'"
                class="img-fluid rounded game-image"
              />
            </router-link>
            <router-link :to="{ name: 'equipe', params: { nom: equipeChoisi(gameChoisi.equipeVisiteur).nom } }" class="btn btn-outline-dark my-2" v-if="gameChoisi.equipeVisiteur">
              {{ equipeChoisi(gameChoisi.equipeVisiteur).nom }}
            </router-link>
            <ul class="list-group list-group-flush flex-grow-1">
              <li v-for="buteur in buteursVisiteur" :key="buteur.id" class="list-group-item">
                {{ buteur.prenom }} {{ buteur.nom }} {{ random(25, 93) }}'
              </li>
            </ul>
          </div>
        </div>
        <div class="row mobile d-md-none">
          <div class="col-6 text-center align-items-center d-flex flex-column">
            <router-link :to="{ name: 'equipe', params: { nom: equipeChoisi(gameChoisi.equipeDomicile).nom } }">
              <img :src="'http://127.0.0.1:8000/images/equipe/' + equipeChoisi(gameChoisi.equipeDomicile).imageName" :alt="equipeChoisi(gameChoisi.equipeDomicile).nom + ' Logo'" class="img-fluid rounded game-image-small" />
            </router-link>
            <h2>{{ gameChoisi.scoreDomicile }}</h2>
            <ul class="list-group list-group-flush flex-grow-1">
              <li v-for="buteur in buteursDomicile" :key="buteur.id" class="list-group-item">
                {{ buteur.nom }} {{ random(25, 93) }}'
              </li>
            </ul>
          </div>
          <div class="col-6 text-center align-items-center d-flex flex-column">
            <router-link :to="{ name: 'equipe', params: { nom: equipeChoisi(gameChoisi.equipeVisiteur).nom } }">
              <img :src="'http://127.0.0.1:8000/images/equipe/' + equipeChoisi(gameChoisi.equipeVisiteur).imageName" :alt="equipeChoisi(gameChoisi.equipeVisiteur).nom + ' Logo'" class="img-fluid rounded game-image-small" />
            </router-link>
            <h2>{{ gameChoisi.scoreVisiteur }}</h2>
            <ul class="list-group list-group-flush flex-grow-1">
              <li v-for="buteur in buteursVisiteur" :key="buteur.id" class="list-group-item">
                {{ buteur.nom }} {{ random(25, 93) }}'
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="container my-5">
    <p class="text-center">Chargement en cours...</p>
  </div>
</template>

<script setup>
import { useDefaultStore } from '../stores/index'
import { useRoute } from 'vue-router'
import { computed, ref, onMounted } from 'vue'
import Axios from 'axios'

let route = useRoute()
const store = useDefaultStore()
const games = ref([])
const equipes = ref([])
const joueurs = ref([])
const tournois = ref([])
const estCharge = ref(false)
onMounted(() => {
  Axios.get('http://localhost:8000/api/games.json')
    .then(response => {
      const donnee = response.data
      games.value = donnee
      estCharge.value = true
    })
    .catch(e => {
      console.log('prob de get axios')
    })
  Axios.get('http://localhost:8000/api/equipes.json')
    .then(response => {
      const donnee = response.data
      equipes.value = donnee
    })
    .catch(e => {
      console.log(e)
    })
  Axios.get('http://localhost:8000/api/joueurs.json')
    .then(response => {
      const donnee = response.data
      joueurs.value = donnee
    })
    .catch(e => {
      console.log(e)
    })
    Axios.get('http://localhost:8000/api/tournois.json')
    .then(response => {
      const donnee = response.data
      tournois.value = donnee
    })
    .catch(e => {
      console.log(e)
    })
})

const gameChoisi = computed(() => {
  return games.value.find(game => game.id == route.params.id)
})

function equipeChoisi(param) {
  let id = parseInt(param.match(/\d+/)[0], 10)
  return equipes.value.find(equipe => equipe.id == id)
}

function tournoiChoisi(param) {
  let id = parseInt(param.match(/\d+/)[0], 10)
  return tournois.value.find(tournoi => tournoi.id == id)?.nom
}

function random(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min
}

const buteursVisiteur = computed(() => {
  if (gameChoisi.value) {
    return joueurs.value.slice(gameChoisi.value.scoreDomicile, gameChoisi.value.scoreDomicile + gameChoisi.value.scoreVisiteur)
  } else {
    return []
  }
})

const buteursDomicile = computed(() => {
  if (gameChoisi.value) {
    return joueurs.value.slice(0, gameChoisi.value.scoreDomicile)
  } else {
    return []
  }
})
</script>

<style scoped>
a {
  text-decoration: none;
  color: inherit;
}

.game-image,
.game-image-small {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.game-image {
  max-height: 180px;
}

.game-image-small {
  max-height: 70px;
}

.list-group-item {
  border: none;
  padding: 0.25rem 0;
}

@media (max-width: 767.98px) {
  .row.mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: none;
  }

  .col-6 {
    width: 50%;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .row.mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .col-6 {
    width: 50%;
    padding: 0.5rem;
  }
}
</style>
