<template>
  <div class="d-flex flex-column min-vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <router-link :to="{ name: 'index' }" class="navbar-brand">Accueil</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link :to="{ name: 'equipes' }">Equipes</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'joueur' }">Joueurs</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'tournoi' }">Tournois</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{ name: 'games' }">Matchs</router-link>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="http://localhost:8000" class="nav-link">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container my-5">
      <router-view />
    </div>

    <footer class="bg-dark text-white py-3 mt-auto">
      <div class="container text-center">
        <p>&copy; {{ currentYear }} Blessy77</p>
      </div>
    </footer>
  </div>
</template>

<script setup>
import { ref } from 'vue'
let currentYear = ref(new Date().getFullYear());
</script>

<style scoped>
html,
body {
  height: 100%;
}

.min-vh-100 {
  min-height: 100vh;
}
</style>
