<template>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h1 class="display-4">Blessyfy, Appli de Foot</h1>
        <p class="lead">Cette application vous permet de gérer vos tournois, vos équipes et vos joueurs de manière simple et efficace.</p>
      </div>
    </div>

    <div class="row my-5 justify-content-center align-items-stretch">
      <div class="col-md-3 d-flex">
        <div class="card text-center bg-info text-white w-100">
          <div class="card-body">
            <p class="card-text">Consultez tous les tournois disponibles.</p>
            <router-link class="btn btn-outline-light" :to="{ name: 'tournoi' }">Voir les tournois</router-link>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex">
        <div class="card text-center bg-warning text-white w-100">
          <div class="card-body">
            <p class="card-text">Découvrez toutes les équipes enregistrées.</p>
            <router-link class="btn btn-outline-light" :to="{ name: 'equipes' }">Voir les équipes</router-link>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex">
        <div class="card text-center bg-success text-white w-100">
          <div class="card-body">
            <p class="card-text">Consultez la liste des joueurs inscrits.</p>
            <router-link class="btn btn-outline-light" :to="{ name: 'joueur' }">Voir les joueurs</router-link>
          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex">
        <div class="card text-center bg-danger text-white w-100">
          <div class="card-body">
            <p class="card-text">Explorez les matchs programmés.</p>
            <router-link class="btn btn-outline-light" :to="{ name: 'games' }">Voir les matchs</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useDefaultStore } from '../stores/index';

const store = useDefaultStore();

const formatDate = (date) => {
  return new Date(date).toLocaleDateString("fr-FR");
};
</script>

<style></style>
