<template>
  <div v-if="estCharge" class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <h1>Joueur</h1>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Nationalité</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="joueur in joueurs" :key="joueur.id">
            <td>{{ joueur.id }}</td>
            <td>{{ joueur.nom }}</td>
            <td>{{ joueur.prenom }}</td>
            <td>{{ formatDate(joueur.dateNaissance) }}</td>
            <td>{{ joueur.nationalite }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div v-else class="container my-5">
    <p class="text-center">Chargement en cours...</p>
  </div>
</template>

<script setup>
import { useDefaultStore } from '../stores/index'
import { ref, onMounted } from 'vue'
import Axios from 'axios'
const store = useDefaultStore()

const joueurs = ref([])
const estCharge = ref(false);
onMounted(() => {
 

  Axios.get('http://localhost:8000/api/joueurs.json')
    .then(response => {
      const donnee = response.data
      joueurs.value = donnee
      estCharge.value = true

    })
    .catch(e => {
      console.log(e)
    })
})

const formatDate = (date) => {
  return new Date(date).toLocaleDateString("fr-FR");
};
</script>

<style></style>
