<template>
  <div v-if="estCharge" class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <h1>Tournoi</h1>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Date debut</th>
            <th>Date fin</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tournoi in tournois" :key="tournoi.id">
            <td>{{ tournoi.id }}</td>
            <td>{{ tournoi.nom }}</td>
            <td>{{ formatDate(tournoi.dateDebut) }}</td>
            <td>{{ formatDate(tournoi.dateFin) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div v-else class="container my-5">
    <p class="text-center">Chargement en cours...</p>
  </div>
</template>

<script setup>
import { useDefaultStore } from '../stores/index'
import { ref, onMounted } from 'vue'
import Axios from 'axios'
const tournois = ref([])
const store = useDefaultStore()
const estCharge = ref(false);
onMounted(() => {
 

 Axios.get('http://localhost:8000/api/tournois.json')
   .then(response => {
     const donnee = response.data
     tournois.value = donnee
     estCharge.value = true

   })
   .catch(e => {
     console.log(e)
   })
})


const formatDate = (date) => {
  return new Date(date).toLocaleDateString("fr-FR");
};
</script>

<style></style>
