.navbar-nav a {
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}


.navbar-nav a:hover {
    color: #f5f5f5;
    text-shadow: 0px 0px 10px #fff;
}
select[multiple] {
    overflow-y: auto;
    height: min-content;
    max-height: 200px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    font-size: 16px;
    color: #495057;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

select[multiple]:focus {
    outline: none;
    border-color: #4d9e9e;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 5px rgba(77, 158, 158, 0.5);
}

select[multiple] option {
    padding: 5px 10px;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
    border: none;
    outline: none;
}

select[multiple] option:hover {
    background-color: #e9ecef;
}
#score{

    background: #1e7e34;
}