{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Edit Game</div>
                    <div class="card-body">
                        {{ include('game/_form.html.twig', {'button_label': 'Update'}) }}
                        <a href="{{ path('app_game_index') }}" class="btn btn-secondary">back to list</a>
                        {{ include('game/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
