{% extends 'base.html.twig' %}

{% block title %} Matches{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <h2>Matches</h2>
                <div class="btn-group">
                    <a href="{{ path('app_game_new') }}" class="btn add btn-primary add-new"><i class="material-icons">add</i> Add New</a>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Equipe Domicile</th>
                    <th>Score Domicile</th>
                    <th>Score Visteur</th>
                    <th>Equipe Visiteur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                    <tr>
                        <td>{{ game.id }}</td>
                        <td>{{ game.equipeDomicile }}</td>
                        <td>{{ game.scoreDomicile }}</td>
                        <td>{{ game.scoreVisiteur }}</td>
                        <td>{{ game.equipeVisiteur }}</td>
                        <td class="actions">
                            <a href="{{ path('app_game_edit', { 'id': game.id }) }}"><i class="material-icons">edit</i></a>
                            <a href="{{ path('app_game_show', { 'id': game.id }) }}"><i class="material-icons">visibility</i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/scripts.js') }}" defer></script>
    {% endblock %}
{% endblock %}
