{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}



{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create new Game</div>
                    <div class="card-body">
                        {{ include('game/_form.html.twig') }}
                        <a href="{{ path('app_game_index') }}" class="btn btn-secondary">back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
