{% extends 'base.html.twig' %}

{% block title %}
    {{ game.tournoi }}
{% endblock %}

{% block body %}
<main class="container my-5">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-header">
            <h1 class="text-center">{{ game.tournoi }}</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 text-center">
                    {% if game.equipeDomicile.imageName != null %}
                        <img src="{{ asset('images/equipe/' ~ game.equipeDomicile.imageName) }}" alt="{{ game.equipeDomicile.nom }} Logo" class="img-fluid rounded" style="height: 200px; width: auto; ">
                    {% else %}
                        <img src="{{ asset('img/logo.png') }}" alt="Logo par défaut" class="img-fluid rounded" style="height: 200px; width: auto; ">
                        <figcaption> {{ game.equipeDomicile.imageName }}</figcaption>
                    {% endif %}
                    <a href="{{ path('app_equipe_show', {id: game.equipeDomicile.id}) }}" class="btn btn-outline-dark my-2"><span>{{ game.equipeDomicile.nom }}</span></a>
                </div>
                <div class="col-md-2 text-center my-auto">
                    <a href="{{ path('app_game_edit', { 'id': game.id }) }}"><span class="h2">{{ game.scoreDomicile }} - {{ game.scoreVisiteur }}</span></a>
                </div>
                <div class="col-md-5 text-center">
                    {% if game.equipeVisiteur.imageName is not null %}
                        <img src="{{ asset('/images/equipe/' ~ game.equipeVisiteur.imageName) }}" alt="{{ game.equipeVisiteur.nom }} Logo" class="img-fluid rounded" style="height: 200px; width: auto; ">
                    {% else %}
                        <img src="{{ asset('img/logo.png') }}" alt="Logo par défaut" class="img-fluid rounded" style="height: 200px; width: auto; ">
                    {% endif %}
                    <a href="{{ path('app_equipe_show', {id: game.equipeVisiteur.id}) }}" class="btn btn-outline-dark my-2"><span>{{ game.equipeVisiteur.nom }}</span></a>
                </div>
            </div>
        </div>
        {% if buteursDomicile|length > 0 and buteursVisiteur|length > 0 %}
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-center"> {{ game.equipeDomicile.nom }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for buteur in buteursDomicile %}
                            <li class="list-group-item">
                                <a href="{{ path('app_joueur_show', {id: buteur.id}) }}">{{ buteur.prenom }} {{ buteur.nom }}</a> {{ random(1, 45) }}'
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="text-center"> {{ game.equipeVisiteur.nom }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for buteur in buteursVisiteur %}
                            <li class="list-group-item">
                                <a href="{{ path('app_joueur_show', {id: buteur.id}) }}">{{ buteur.prenom }} {{ buteur.nom }}</a> {{ random(46, 95) }}'
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    </div>
</main>
{% endblock %}
