<script setup>
import Home from './components/Home.vue'
import './assets/css/styles.css'

// si vous voulez utilisez pinia , il faut placer ces deux lignes dans le composant de votre choix.
//import { useDefaultStore } from './stores/index'
//const store = useDefaultStore()
</script>

<template>
  <main>
    <Home />
  </main>
</template>

<style>
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet');
</style>
