{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">

        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4">Blessyfy, Appli de Foot</h1>
                <p class="lead">Cette application vous permet de gérer vos tournois, vos équipes et vos joueurs de manière simple et efficace.</p>
            </div>
        </div>

        <div class="row my-5 justify-content-center">

            {% if app.user %}
                <div class="col-md-3">
                    <div class="card text-center bg-info text-white">
                        <div class="card-body">
                            <h2 class="card-title">{{ nbTournois }}</h2>
                            <p class="card-text">Tournois organisés</p>
                            <a href="{{ path('app_tournoi_index') }}" class="btn btn-outline-light btn-block">Voir les tournois</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center bg-warning text-white">
                        <div class="card-body">
                            <h2 class="card-title">{{ nbEquipes }}</h2>
                            <p class="card-text">Équipes enregistrées</p>
                            <a href="{{ path('app_equipe_index') }}" class="btn btn-outline-light btn-block">Voir les équipes</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center bg-success text-white">
                        <div class="card-body">
                            <h2 class="card-title">{{ nbJoueurs }}</h2>
                            <p class="card-text">Joueurs enregistrés</p>
                            <a href="{{ path('app_joueur_index') }}" class="btn btn-outline-light btn-block">Voir les joueurs</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center bg-danger text-white">
                        <div class="card-body">
                            <h2 class="card-title">{{ nbMatchs }}</h2>
                            <p class="card-text">Matchs effectués</p>
                            <a href="{{ path('app_game_index') }}" class="btn btn-outline-light btn-block">Voir les matchs</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-6 text-center">
                    <p class="mb-4">Vous n'êtes pas connecté.</p>
                    <a href="{{ path('app_login') }}" class="btn btn-primary btn-block">Se connecter</a>
                </div>
                <div class="col-md-6 text-center">
                    <p class="mb-4">Vous n'avez pas de compte ?</p>
                    <a href="http://localhost:5173/" class="btn btn-primary btn-block">Consulter</a>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
